Package: com.plutinosoft.screensplitr 
Name: ScreenSplitr 
Version: 1.0.3-6
Architecture: iphoneos-arm 
Description: Share your iPhone screen on a TV 
 Plug a video cable into your iPhone
 and see everything you're doing on 
 both the iPhone and the TV.
Homepage: http://www.plutinosoft.com/blog/projects/screensplitr 
Depiction: 
Maintainer: Sylvain Rebaud <sylvain@plutinosoft.com> 
Author: Sylvain Rebaud (c0diq) <sylvain@plutinosoft.com> 
Sponsor: Plutinosoft LLC <http://www.plutinosoft.com/> 
Section: Utilities
